<section>
    <h2>Create Page</h2>
    <form class="add-comment">

        <div class="form-group">
            <label for="comment-body">Comment:</label>
            <textarea class="form-input" placeholder="" id="comment-body"></textarea>
        </div>

        {{!-- Submit Button --}}
        <div class="form-group">
            <button type="submit">Add Comment</button>
        </div>
    </form>
</section>

<script src="/js/addComment.js"></script>