{{> article-details}}

<div>
    <button id="add-comment-bttn" href="/comments">Add Comment</button>

    <h2>Comments</h2>
    {{#each comments as |comment|}}
    {{> comment-details}}
    {{/each}}
</div>